html, body {
    height: 100%;
}

body {
    background-color: white;
    font-weight: lighter;
}

.sidebar-content {
    padding: 10px;
}

.aui-page-panel {
    padding: 10px;
}

ul#repositories {
    list-style: none;
    padding: 0;
    flex-grow: 1;
    -webkit-flex-grow: 1;
    overflow-y: auto;
    margin-top: 0;
}

ul#repositories li {
    border: solid thin #cccccc;
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    -webkit-flex-direction: row;
    align-items: center;
    padding: 7px;
    border-top: 0;
    border-right: 0;
}

ul#repositories li:last-child {
    border-bottom: none;
}

ul#repositories li:last-child {
    margin-bottom: -1px;
}

ul#repositories li.locked {
    border-left: solid 4px #d04437;
}

ul#repositories li.unlocked {
    border-left: solid 4px #14892c;
}

ul#repositories .repo-name {
    flex-grow: 1;
    -webkit-flex-grow: 1;
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    -webkit-flex-direction: column;
}

.repo-name .name {
    font-size: 14px;
    margin-bottom: 4px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.repo-name .name span {
    margin-right: 3px;
}

.repo-name .repo, .links {
    font-size: 11px;
}

.repository-link:before {
    content: "\00B7";
}
.repository-link:first-child:before {
    content: '';
}

ul#repositories button {
    top: 8px;
    right: 8px;
}

div.footer-buttons {
    text-align: left;
    padding: 7px;
    display: flex;
    display: -webkit-flex;
    flex-shrink: 0;
    -webkit-flex-shrink: 0;
}

.select2 {
    flex-grow: 1
}

.links {
    min-height: 15px;
}

#header {
    margin-bottom: 0;
}

div.container {
    height: 100%;
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    -webkit-flex-direction: column;
}

div.buttons {
    padding-top: 12px;
}

div.footer-buttons {
    border-top: solid thin #cccccc;
}

/**
 * Dark
 */

.body-dark {
    background-color: #333940;
    color: #A5A5A5;
}

.body-dark ul#repositories li {
    border-bottom-color: rgb(14, 15, 15);
}

.body-dark div.footer-buttons {
    background-color: rgb(30, 37, 43);
    border-top-color: rgb(14, 15, 15);
}

body.body-dark #main .aui-button.aui-button-subtle {
    background: none;
    color: rgb(199, 199, 199);
    border: none;
}

body.body-dark #main .aui-button.aui-button-subtle:hover {
    border: solid thin rgb(14, 15, 15);
    background:none;
    color: white;
    box-shadow: none;
}

body.body-dark #main .aui-button.aui-button-subtle:hover span {
    color: white;
}

body.body-dark #main .select2-choice {
    background-color: #333940;
    border: solid thin rgb(14, 15, 15);
    color: #A5A5A5;
}

body.body-dark #main .select2-chosen {
    color: #A5A5A5;
    text-shadow: rgb(14, 15, 15) 0 1px 0;
}

body.body-dark .select2-drop {
    background-color: #333940;
    border: solid thin rgb(14, 15, 15) !important;
    color: #A5A5A5;
}

body.body-dark .select2-input {
    border: solid thin black;
    color: #A5A5A5;
    background: rgb(30, 37, 43);
}

body.body-dark .aui-button {
    border: solid thin black;
    background: #333940;
    color: #A5A5A5;
}

body.body-dark .aui-button.aui-button-primary {
    border: none;
    background: #2A67A5;
    color: white;
}

body.body-dark .aui-button.aui-button-link {
    border: none;
}

body.body-dark label, body.body-dark .checkbox label {
    color: #A5A5A5;
}

body.body-dark .text {
    background: rgb(30, 37, 43);
    border: solid thin black;
    color: #A5A5A5;
}



.select2-hidden-accessible {
    display: none;
}
/**
 * Select 2
 */

.select2-container {
    flex-grow: 1;
    -webkit-flex-grow: 1;
}

.select2-container {
    width: 100%;
    margin-left: 5px;
}

.footer-buttons .aui-button {
    flex-shrink: 0;
    -webkit-flex-shrink: 0;
}