<html ng-app="repos">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="ap-local-base-url" content="{{localBaseUrl}}">
    <title>{{title}}</title>
    <link rel="stylesheet" href="//aui-cdn.atlassian.com/aui-adg/5.8.12/css/aui.css" media="all">
    <link rel="stylesheet" href="//aui-cdn.atlassian.com/aui-adg/5.8.12/css/aui-experimental.css" media="all">
    <!--[if IE 9]>
    <link rel="stylesheet" href="//aui-cdn.atlassian.com/aui-adg/5.8.12/css/aui-ie9.css" media="all"><![endif]-->
    <link rel="stylesheet" href="/css/addon.css" type="text/css"/>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js" type="text/javascript"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular-route.min.js" type="text/javascript"></script>
    <script src="//cdn.socket.io/socket.io-1.2.0.js"></script>
    <script src="/js/select2.min.js"></script>    
    <script src="/js/simplexdm.min.js"></script>
    <script src="/js/lodash.js" type="text/javascript"></script>
    <script type="text/javascript">{{{state}}}</script>
    <script src="/js/addon.js"></script>    

</head>
<body class="body-{{{theme}}}">
<div ng-view id="main"></div>
</body>
</html>
