<form class="aui top-label sidebar-content">
    <fieldset class="top-label">
        <div class="field-group top-label">
            <label for="title">Repository Name</label>
            <input class="text" id="title" name="title" type="text" ng-model="title">
        </div>

        <div class="field-group top-label">
            <label for="link">Repository URL</label>
            <input class="text" id="link" name="link" type="text" ng-model="link">
        </div>

        <div class="checkbox">
            <input class="checkbox" id="global" name="global" type="checkbox" ng-model="global">
            <label for="global">Global Lock</label>
        </div>
    </fieldset>

    <div class="buttons">
        <input type="button" name="name" value="Save" class="aui-button aui-button-primary" ng-click="save()">

        <a href="#/list" class="aui-button aui-button-link">
            Cancel
        </a>
    </div>
</form>
