<form class="aui top-label sidebar-content">
    <p>Are you sure you want to delete "{{title}}"?</p>
    <div class="buttons">
        <input type="button" name="name" value="Delete" class="aui-button aui-button-primary" ng-click="delete()">
        <a href="#/list" class="aui-button aui-button-link">Cancel</a>
    </div>
</form>
