<header id="header" role="banner" ng-if="error">
    <div aria-hidden="false" class="aui-banner aui-banner-error" role="banner">{{error}}</div>
</header>

<div class="container">
    <ul id="repositories">
        <li class="{{isRepositoryLocked(repository) ? 'locked' : 'unlocked'}}" ng-repeat="(id, repository) in repositories | orderRepositories">
            <div class="repo-name">

                <div class="name">
                    <span class="aui-icon aui-icon-small aui-iconfont-devtools-repository{{repository.global?'-locked':''}}"></span> {{repository.title}}
                </div>

                <div class="links" ng-if="repository.locked">
                  <span class="user repository-link" ng-if="repository.locked">
                    {{repository.lockedByName}}
                  </span>
                </div>

                <div class="links" ng-if="!repository.locked">
                  <span class="repository-link" ng-if="repository.link && !repository.global">
                    <a href="{{repository.link}}" target="_top">Repository</a>
                  </span>
                  <span class="repository-link">
                    <a href="#/edit/{{repository.id}}">Edit</a>
                  </span>
                  <span class="repository-link">
                    <a href="#/delete/{{repository.id}}">Delete</a>
                  </span>
                </div>
            </div>

            <button class="aui-button aui-button-subtle repo-lock" ng-click="lock(repository)" ng-if="! repository.locking && repository.locked ">
                <span class="aui-icon aui-icon-small aui-iconfont-locked"></span>
            </button>

            <button class="aui-button aui-button-subtle repo-lock" ng-click="lock(repository)" ng-if="! repository.locking && ! isRepositoryLocked(repository)">
                <span class="aui-icon aui-icon-small aui-iconfont-unlocked"></span>
            </button>

            <button class="aui-button aui-button-subtle repo-lock" ng-click="lock(repository)" ng-if="repository.locking" aria-disabled="true">
                <span class="aui-icon aui-icon-wait"></span>
            </button>
        </li>
    </ul>

    <div class="footer-buttons">
        <a href="#/add" class="aui-button">
            <span class="aui-icon aui-icon-small aui-iconfont-add"></span>
            Add
        </a>
        
        <input type="hidden" id="aliases" ng-model="alias" ng-change="changeAlias()"/>
    </div>
</div>
