<b>Status:</b>
<table>
    <tr>
        <th>Locked</th>
        <th>Unlocked</th>
    </tr>

    <tr valign="top">
        <td>
            <ul>
                {{#each repositories}}
                    {{#if this.locked}}
                        <li>{{this.title}} - {{this.lockedByName}}</li>
                    {{/if}}
                {{/each}}
            </ul>
        </td>
        <td>
            <ul>
                {{#each repositories}}
                    {{#unless this.locked}}
                        <li>{{this.title}}</li>
                    {{/unless}}
                {{/each}}
            </ul>
        </td>
    </tr>
</table>

